* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 2rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid rgb(193, 191, 191);
    max-height: 90px;
}

.nav-left {
    display: flex;
    gap: 6rem;
}

.nav-left img {
    margin-right: 2px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-links a {
    font-size: 17px;
    text-decoration: none;
    color: rgb(105, 105, 105);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cart-dropdown {
    position: absolute;
    top: 80px;
    right: 40px;
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

.cart-dropdown h3 {
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.cart-content {
    padding: 2rem;
    text-align: center;
    color: #777;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-btn {
    display: flex;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.cart-count {
    font-size: 10px;
}

.avatar {
    height: 50px;
    width: 50px;
}

.product {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}

.gallery {
    max-width: 600px;  
}

.main-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.details {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.details {
    font-size: 20px;
}

.details h4 {
    font-size: 20px;
    color: #585858;
}

.current {
    font-weight: bold;
    font-size: 20px;
}

.price {
    margin-bottom: 15px;
}

.discount {
    background: black;
    color: white;
    font-size: 13px;
}

.actions {
    display: flex;
    gap: 8px;
    margin-top: 2rem;
}

.quantity {
    background-color: #f4f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 52px;
    padding: 0 1rem;
    border-radius: 0.75rem;
}

.quantity button {
    background: none;
    border: none;
    color: hsl(26, 100%, 55%);
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.quantity-value {
    font-weight: 700;
    font-size: 1rem;
}

.add-to-cart {
    flex: 1;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    background-color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transform: scale(1);
}

.add-to-cart:active {
    transform: scale(0.9);
}

.add-to-cart img {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

.checkout-btn {
    width: 100%;
    margin-top: 1rem;
}

.thumbnails {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.thumb {
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.thumb.active {
    outline: 2px solid hsl(26, 100%, 55%);
    opacity: 1;
}

.lightbox {
    position: fixed;
    inset: 0;
    z-index: 200;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
}

.lightbox-content {
    position: relative;
    max-width: 500px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox-main {
    width: 100%;
    border-radius: 15px;
}

.close-lightbox {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 24px;
    color: white;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev { left: -40px; }
.next { right: -40px; }

.mobile-menu {
    position: fixed;
    inset: 0;
    z-index: 300;
}

.mobile-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.mobile-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background: white;
    padding: 2rem;
    transform: translateX(-100%);
}

.mobile-menu.active .mobile-nav {
    transform: translateX(0);
}

.mobile-prev,
.mobile-next {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .nav-left img {
        width: 150px;
    }

    .nav-right {
        gap: 0.5rem;
    }

    .nav-links {
        display: none;
    }

    .product {
        flex-direction: column;
        padding: 1rem;
    }

    .actions {
        flex-direction: column;
    }

    .quantity {
        width: 100%;
    }

    .add-to-cart {
        height: 60px;
    }

    .thumbnails{
        display: none;
    }

    .mobile-prev,
    .mobile-next {
        display: block;
    }
}